@font-face {
    font-family: 'Inter-400';
    src: url("../fonts/Inter-Regular.ttf") format("truetype"),
}
@font-face {
    font-family: 'Inter-700';
    src: url("../fonts/Inter-Bold.ttf") format("truetype"),
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("../fonts/gilroy-semibold.ttf") format("truetype"),
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url("../fonts/Rubik-Medium.ttf") format("truetype"),
}