.start {
    margin: 169px 335px 0 335px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__title {
        font-size: 42px;
        width: 770px;
        margin: 0 auto;
        text-align: center;
    }
    &__btn {
        margin: 46px auto 0;
        width: 164px;
        height: 54px;
    }
    &__back-image {
        position: absolute;
        width: 1203px;
        height: 492px;
        top: 62px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -7;
    }
}